awsebcli==3.7.4
backports.ssl-match-hostname==3.5.0.1
blessed==1.9.5
botocore==1.4.9
cement==2.4.0
colorama==0.3.3
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
MySQL-python==1.2.5
pathspec==0.3.3
peewee==2.8.0
python-dateutil==2.5.2
PyYAML==3.11
requests==2.6.2
semantic-version==2.5.0
six==1.10.0
texttable==0.8.4
wcwidth==0.1.6
websocket-client==0.35.0
Werkzeug==0.11.5

