{% extends "header.html" %}
{% block body %}
<body>
        <body>
            <div class="form-group container">
                <h2>Add Item to a Storage</h2>
                <form action = '/select/' method="POST">
                    <label for="item">Select Storage:</label>
                    <select class="form-control" id="item", name="storage">
                        <option>Put Storages Here</option>
                    </select>
                    <label for="building">Select Item:</label>
                    <select class="form-control" id="building", name="item">
                        <option>Put Items Here</option>
                    </select>
                    <input type="submit" value ="Go!"/>
                </form>
            </div>
        </body>
</body>
{% endblock %}