{% extends "header.html" %}

{% block body %}
        <body>
            <div class="form-group container">
                <h2>Edit Name/Description for Item: </h2>
                <form action = '/edit-page/' method="POST">
                    <label for="item">Select Item:</label>
                    <select class="form-control" id="item" name="item">
                        {% for item in items %}
                        <option>{{item}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value ="Go!"/>
                </form>
            </div>
        </body>
{% endblock %}
