{% extends "header.html" %}

{% block body %}
<body>
<div class="container">
    <h3>Item Totals</h3>
    <div id="no-more-tables" class="table-responsive">
        <table class="table col-md-12 table-condensed  table-striped cf">
            <thead class="cf">
            <tr>
                <th>Item Name</th>
                <th>Total Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for item in itemnames %}
            <tr>
                <td data-title="Item Name">{{item}}</td>
                <td data-title="Total Quantity">{{itemlist[item]['quantity']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="/" class="btn btn-default btn-lg" role="button">Take Me Home!</a>
    </div>
</div>
</body>
{% endblock %}
