{% extends "header.html" %}
{% block body%}
<body>
<div class="container">
    <h3>Storage Logs (Don't worry about it)</h3>
    <div id="no-more-tables" class="table-responsive">
        <table class="table col-md-12 table-condensed  table-striped cf">
            <thead class="cf">
            <tr>
                <th>Time</th>
                <th>Attribute</th>
                <th>Old</th>
                <th>New</th>
                <th>Table</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
            <tr>
                <td data-title="Time">{{log['time']}}</td>
                <td data-title="Attribute">{{log['attribute']}}</td>
                <td data-title="Old">{{log['old']}}</td>
                <td data-title="New">{{log['new']}}</td>
                <td data-title="Table">{{log['table']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="/" class="btn btn-default btn-lg" role="button">Take Me Home!</a>
    </div>
</div>
</body>
{% endblock %}