{% extends "header.html" %}
{% block body %}
<body>
<div class="form-group container">
    <h2>Move Some Stuff</h2>
    <form action='/move-from/' method="POST">
        <label for="storage">Move From:</label>
        <select class="form-control" id="storage"  name="storage">
            {% for storage in storages %}
            <option>{{storage}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select"/>
    </form>
    <a href="/" class="btn btn-default btn-lg" role="button">Take Me Home!</a>
</div>
</body>
{% endblock %}