{% extends "header.html" %}
{% block body %}
<body>
<div class="form-group container">
    {% if warnings %}
    <div class="alert alert-danger">
        {{warnings}}
    </div>
    {% endif %}
    <h2>Remove Item From {{storage_name}}</h2>
    <form action='/submit-remove/{{storage_name}}' method="POST">
        <label for="quantity">Remove:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1">
        <label for="item">Of Item:</label>
        <select class="form-control" id="item"  name="item">
            {% for item in storage_items %}
            <option>{{item}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select"/>
    </form>
</div>
</body>
{% endblock  %}