{% extends "header.html" %}
{% block body %}

<body>
<div class="form-group container">
    <h2>Select Storage to Remove Items From</h2>
    <form action='/remove-from/' method="POST">
        <label for="storage">Remove From:</label>
        <select class="form-control" id="storage"  name="storage">
            {% for storage in storages %}
            <option>{{storage}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select"/>
    </form>
</div>
</body>
{% endblock %}