{% extends "header.html" %}

{% block body %}
    <body>
    <div class="container">
        <h3>Where can I find a{% if item.item_name[0].lower() in'aeiou'%}n{% endif %}
            {{item.item_name}} {% if building != 'Any' %} in{{building}}{% endif %}?</h3>
        {% if storages.count() != 0 %}
        <div id="no-more-tables" class="table-responsive">
            <table class="table col-md-12 table-condensed  table-striped cf">
                <thead class="cf">
                <tr>
                    <th>Storage Name</th>
                    <th>Room Number</th>
                    <th>Item Quantity</th>
                    {% if building == 'Any' %}<th>Building</th>{% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for storage in storages %}
                  <tr>
                    <td data-title="Storage Name">{{storage.storage.room_name}}</td>
                    <td data-title="Room Number">{{storage.storage.room_number}}</td>
                    <td data-title="Item Quantity">{{storage.item_qty}}</td>
                      {% if building == 'Any' %}
                      <td data-title="Building Name"> {{storage.storage.build.build_name}}</td>
                      {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Sadly, there are none</p>
        {% endif %}
        <div class="container">
			<a href="/" class="btn btn-default btn-lg" role="button">Take Me Home!</a>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#descriptionModal">
                What is a{% if item.item_name[0].lower() in 'aeiou'%}n{% endif %} {{item.item_name}}?
            </button>
        </div>

        <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{item.item_name}} Description</h4>
                    </div>
                    <div class="modal-body">
                        {% if item.item_description != None %}
                        <p>{{item.item_description}}</p>
                        {% else %}
                        <p>Sorry, but no description is available for this item.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
    </div>
    </body>
{% endblock %}
